<%= @grid %>
<form action="/compute">
  <label for="try">write your longest word!</label>
  <input type="hidden" name="grid" value="<%= @grid %>">
  <input type="text" id="question" name="try" placeholder="write it here!">
  <input type="submit" value="Go on!">
</form>

